* {
	box-sizing: border-box;
  }
html {
	width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	margin: 0;
	padding: 0;
}
body {
	background-size: 25px 25px;
	background-image:
	linear-gradient(to right, rgb(240, 240, 240) 1px, transparent 1px),
	linear-gradient(to bottom, rgb(240, 240, 240) 1px, transparent 1px);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: scroll;
	display: flex;
}

h1 {
	font-size: 1.9rem;
	text-align: left;
	display: block;
	margin-left: 1%;
}

h2 {
	font-size: 1.5rem;
	text-align: left;
	display: block;
	margin-left: 2%;
}

h3 {
	font-size: 1.5rem;
	text-align: left;
	margin-left: 3%;
	display: block;
}

p {
	font-size: 1.3rem;
	text-align: left;
	margin-left: 4%;
	display: block;
}

a {
	text-decoration: underline;
	border-radius: 4px;
	color: rgb(90, 90, 90);
}

#logo {
	height: 150px;
	width: 150px;
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 0px;
}

/* Style the tab */
.tab {
	float:left;
	background-color: rgb(15, 15, 15);
	width: 18%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin: 0px;
	margin-right: 20px;
	min-width: 200px;
	max-width: 250px;
	font-family: inherit;
	font-weight: inherit;
	flex-shrink: 0;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: rgb(15, 15, 15);
	color: rgb(255, 255, 255);
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.0s;
	font-size: 1.1rem;
	padding: 12% 5% 12% 15%;
	width: 100%;
	font-family: inherit;
	font-weight: inherit;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: rgb(22, 22, 22);
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: rgb(30, 30, 30);
	border-right: solid 8px rgb(65, 65, 65);
}

.tab button:focus {
	background-color: rgb(22, 22, 22);
}

/* Style the tab content */
.tabcontent {
	float: right;
	border: none;
	display: none;
	height: 100%;
/* 	scrollbar-width: none;
	-ms-overflow-style: none; */
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: scroll;
}
/* .tabcontent::-webkit-scrollbar { /* WebKit */
/* 	width: 0;
/*  */	/* height: 0; */
 /* }
 */

#profile {
	float: left;
	width: 15%;
	margin-left: 2%;
	margin-right: 1%;
	max-width: 200px;
	min-width: 100px;
	border: solid 4px black;
	border-radius: 4px;
}

#skills-content {
	clear: both;
	margin-left: 2%;
	padding-top: 20px;
}

.container {
	width: 90%;
	background-color: rgb(200, 200, 200);
	border-radius: 4px;
}

.skills {
	text-align: right;
	color: rgb(256, 256, 256);
	margin-top: 20px;
}

#skills-content p {
	margin-left: 0%;
}

.communication {
	width: 100%;
	background-color: rgb(208, 2, 27);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.english {
	width: 100%;
	background-color: rgb(82, 195, 247);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.french {
	width: 100%;
	background-color: rgb(0,85,164);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.arabic {
	width: 95%;
	background-color: rgb(145, 111, 88);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.python {
	width: 80%;
	background-color: #3776ab;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.html {
	width: 90%;
	background-color: rgb(241, 74, 41);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.css {
	width: 70%;
	background-color: rgb(41, 101, 241);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.js {
	width: 50%;
	background-color: rgb(240, 219, 79);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.java {
	width: 20%;
	background-color: rgb(248, 152, 32);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

#gallery {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#musimath {
	width: 100%;
}

#gallery div {
	display: inline-block;
	width: 47%;
}

.video-recording {
	width: 100%;
	border-radius: 4px;
	border: 4px solid black;
}

div .audio-recording {
	width: 100%;
	background-color: black;
}

.emailicon {
	padding: 0%;
	margin: 0%;
	width: 30px;
}

#phoneicon {
	padding: 0%;
	margin: 0%;
	width: 30px;
}

.highlight-text {
	color: red;
	background-color: rgba(0, 0, 0, 0);
}

.icon {
	width: auto;
	height: 30px;
	margin-top: 5px;
}

span {
	width: 93%;
	margin-left: 5%;
}

span img {
	width: 45%;
}

#facebook {
	width: 25px;
	border-radius: 4px;
}

.small-icon {
	width: 30px;
}

.link-button {
	background-color:black;
	color: white;
	padding: 7px;
	font-weight: 900;
	font-size: 1.2rem;
	max-width: 92%;
	display: inline-block;
	margin: 10px;
	border: none;
	border-radius: 4px;
}

.link-button:hover {
	opacity: 0.85;
}

.mediaToDisplay {
	width: 45%;
	display: inline-block;
	margin-top: 20px;
	border: 4px solid black;
	border-radius: 4px;
	background-color: black;
}

a .mediaToDisplay:hover {
	opacity: 0.85;
}

.touschercheurs {
	width: 45%;
	display: inline-block;
	border: 4px solid black;
}

a .touschercheurs:hover {
	opacity: 0.85;
}