
:root{
    --main-bg-color-dark: rgb(30,30,30);
    --overlay-bg-color-dark: rgba(50,50,50);
    --main-text-color-dark: rgb(215,215,215);

    --main-bg-color-light: rgb(225,225,225);
    --overlay-bg-color-light: rgba(205,205,205);
    --main-text-color-light: rgb(40,40,40);

    --red-text-color: rgb(240,40,40);
    --standard-border-radius: 4px;
    --standard-border: 1px;
}

.dark-body-theme {
    --main-bg-color: var(--main-bg-color-dark);
    --overlay-bg-color: var(--overlay-bg-color-dark);
    --main-text-color: var(--main-text-color-dark);
}

.light-body-theme {
    --main-bg-color: var(--main-bg-color-light);
    --overlay-bg-color: var(--overlay-bg-color-light);
    --main-text-color: var(--main-text-color-light);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono" , monospace;
    color: var(--main-text-color);
}

html,
body{
    background-color: var(--main-bg-color);
    height: 100%;
}

.portfolio-content{
    min-height: 100%;
}


h1{
    font-size: 2.0rem;
    margin: 1rem;
    text-align: left;
    padding-left: 2rem;

}

body > div > header {
    padding: 0;

}


body > div > header > nav{
    background-color: var(--overlay-bg-color);
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 3.5rem;
    font-size: 1.5rem;
}




body > div > header > nav > ol li{
    list-style: none;
    display: inline-block;
    margin: auto;
    padding: 0 1rem;
}


.nav-menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    color: var(--red-text-color);
}

.toggle-nav-links{
    padding: 0.5rem 0.7rem;
}

.toggle-nav-links {
    display: none;
}

.content-section{
    padding: 0.5rem 2rem;
}

.last{
    padding-bottom: 4rem;
}

.hamburger-button, .theme-button{
    /*border: var(--standard-border) solid var(--main-text-color);*/
    border: none;
    height: 2.4rem;
    width: 2.4rem;
    background: transparent url("data/icons/menu-dark.png");
    background-size: cover;
    vertical-align: center;
    margin-top: 0.2rem;
}

.theme-button{
    margin-right: 2rem;
}


.hamburger-button{
    margin-left: 2rem;
}


footer{
    /*display: block;*/
    background-color: var(--overlay-bg-color);
    margin-top: -3rem;
    height: 3rem;
    text-align: center;
    word-spacing: 4rem;
}

footer address{
    width: 100%;
}

@media (max-width: 1050px) {
    .nav-menu{
        position: fixed;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: var(--overlay-bg-color);
        opacity: 100%;
        width: 100vw;
        /*margin: 0 10%;*/
        text-align: center;
        border-radius: 0 0 var(--standard-border-radius) var(--standard-border-radius);
    }

    .nav-menu.active{
        top: 3rem;
    }


    .nav-link{
        display: block;
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .toggle-nav-links{
        display: inline-block;
    }
}


