
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root{
    --main-bg-color-dark: rgb(30,30,30);
    --overlay-bg-color-dark: rgba(50,50,50);
    --main-text-color-dark: rgb(215,215,215);

    --main-bg-color-light: rgb(225,225,225);
    --overlay-bg-color-light: rgba(205,205,205);
    --main-text-color-light: rgb(40,40,40);

    --highlight-text-color: rgb(100,100,100);
    --standard-border-radius: 4px;
    --standard-border: 1px;

    --nav-bar-height: max(6vh, 3rem);
}

.dark-body-theme {
    --main-bg-color: var(--main-bg-color-dark);
    --overlay-bg-color: var(--overlay-bg-color-dark);
    --main-text-color: var(--main-text-color-dark);
}

.light-body-theme {
    --main-bg-color: var(--main-bg-color-light);
    --overlay-bg-color: var(--overlay-bg-color-light);
    --main-text-color: var(--main-text-color-light);
}


*{
    margin: 0;
    padding: 0;
    /* border: 0.5px solid orange; */
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: "JetBrains Mono" , monospace;
}

body{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.banner-section{
    margin-top: 8rem;
    margin-bottom: 4rem;
}


.navbar{
    position: fixed;
    top: 0;
    overflow: visible;
    /* edge case below 300 px */
    min-width: calc(3*var(--nav-bar-height));

    width: 100%;
    height: var(--nav-bar-height);

    background-color:var(--overlay-bg-color);
}


.hamburger-button{
    height: var(--nav-bar-height);
    width: var(--nav-bar-height);
    float: left;
}

.hamburger-button:active{
    background-color: var(--main-bg-color);
}

@media (hover: none) {
    .hamburger-button:hover {
        background-color: var(--overlay-bg-color);
    }
}


.bar{
    pointer-events: none;
    display: block;
    margin: 19% auto;
    height: 7%;
    width: 75%;
    border-radius: var(--standard-border-radius);
    background-color: var(--main-text-color);
}


.theme-button{
    height: var(--nav-bar-height);
    width: var(--nav-bar-height);
    float: right;
    background-color: var(--overlay-bg-color);
}

.theme-button:active{
    background-color: var(--main-bg-color);
}

@media (hover: none) {
    .theme-button:hover {
        background-color: var(--overlay-bg-color);
    }
}



.moon-icon{
    display: block;
    margin: 15% auto;
    width: 60%;
    height: 60%;
    fill: var(--main-text-color);
}

.nav-menu{
    position: absolute;
    top: -10000px;
    width: 100%;
}


li{
    list-style: none;
}


.nav-link{
    font-size: 1.5em;
    background-color: var(--overlay-bg-color);
    border-top: var(--main-bg-color) solid 1px;
    height: var(--nav-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link a{
    display: block;
    text-decoration: none;
}


.nav-menu.active{
    top: var(--nav-bar-height);
}



.content-section{
    min-height: 100vh;
    padding-top: calc(var(--nav-bar-height)*2);
}

.content-section h2, .content-section>p{
    text-align: center;
}


.page-footer{

    position: sticky;
    background-color: var(--overlay-bg-color);
    min-height: var(--nav-bar-height);
}

.page-footer > address{
    margin-top: 5vh;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.page-footer > address > p{
    margin: 0 2em;
}


.card-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1200px;
}

.card{
    margin: 0.5rem 0;
    width: 100%;
    border: var(--overlay-bg-color) 2px solid;
    border-radius: var(--standard-border-radius);
    background-color: rgba(127, 127, 127, 0.4);
}

.card a{
    text-decoration: none;
}

.card img{
    float: left;
    width: 100%;
    border-radius: var(--standard-border-radius);
    margin: 0.5em;
}



@media (min-width: 800px) {
    .hamburger-button{
        display: none;
    }
    .nav-menu{
        position: static;
        width: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .nav-link{
        font-size: 1.5em;
        background-color: var(--overlay-bg-color);
        border-top: none;
        display: flex inline;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 50%;
    }
}


